.card-containerrr{
    width: auto;
    padding: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px 0px;
    border-radius: 15px;
    overflow:hidden;
}

.card-contentt{
    margin: 1rem;
    margin-top:0.5rem;
}

.card-titlee{
    margin-bottom: 0.5rem;
}

.card-bodyy{
    margin: 0px;
    font-size: smaller;
}


