.card-container{
    width: 280px;
    margin-left: 40px;
    margin-bottom: 80px;
    overflow:hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in;
    border-radius: 15px;
}

.card-container:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 8px 0px;
}

.card-content{
    margin: 1rem;
    margin-top:0.5rem;
}

.image-container img{
    overflow:hidden;
    height:200px;
}

h5,p{
    text-align:center;
    margin: 0;
    padding: 0;
}

.card-title{
    margin-bottom: 0.5rem;
}
